h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
  }

.padding-top-100{
    padding-top: 100px;
}

img {
  width: 40px;
  height: 40px;
}

.bullet {
  font-size: 10px;
  width: 20px;
}

.detail {
  width: 500px;
}

.list-ic li {
  position: relative;
}
.list-ic li span {
  display: inline-block;
  font-weight: 800;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  line-height: 1.6em;
  border-radius: 1em;
  background: #18bc9c;
  color: white;
  position: relative;
  font-size: 15px;
}



.list-ic li span i.i-circle{
  color: #18bc9c;
}


.list-ic li::before {
  content: '';
  position: absolute;
  background: #18bc9c;
}

.list-ic.horizontal li {
  display: inline-block;
}
.list-ic.horizontal li span {
  margin: 0 1em;
}
.list-ic.horizontal li::before {
  top: 10px;
    left: -26px;
    width: 25em;
    height: 4px;
}

.list-ic li:first-child::before {
  display: none;
}
.list-ic .active {
  background: dodgerblue;
}
.list-ic .active ~ li {
  background: lightblue;
}
.list-ic .active ~ li::before {
  background: lightblue;
}

.circle {
  font-size: 10px;
}

.dates {
  font-size: 12px;
}
.details {
  margin-left: 21px;
  font-size: 14px;
}

.font-size-50 {
  font-size: 50px;
}

@media (max-width: 920px) {
  .bullet {
    font-size: 0;
  }

  .exp-card{
    text-align: center;
  }
}