<div [ngClass]="(isExpClick === true)?'padding-top-100':'padding-top-30'">
    <h2 class="fw-bold">Work Experience</h2>    
    <div class="row">
        <div class="col-md-12">
            <div class="card p-2 mb-1">
                <div>
                    <div class="d-flex justify-content-between" >
                        <div class="d-flex flex-row">
                            <div class="icon">
                                <img src="assets/img/acn.png" alt="Avatar">
                            </div>
                            <div class="ms-2">
                                <h5 class="mb-0 fw-bold">Accenture PH</h5>
                                <h6 class="mb-0">2 years 2 months</h6>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row work-body">
                        <div class="row exp-card">
                            <div class="bullet">
                                <span><i class="fas fa-circle bullet"></i></span>
                            </div>
                            <div class="detail">
                                <h6 class="heading fw-bold mb-0">SOFTWARE ENGINEERING SR ANALYST</h6>
                                <span class="mb-0 dates">June 2022 - Present | 10 months</span>
                            </div>
                        </div>
                        <div class="row exp-card">
                        <div class="bullet">
                            <span><i class="fas fa-circle bullet"></i></span>
                        </div>
                        <div class="detail">
                            <h6 class="fw-bold mb-0">SOFTWARE ENGINEERING ANALYST</h6>
                            <span class="mb-0 dates">April 2021 - June 2022 | 1 year 2 months </span>
                        </div>
                       </div>
                       <div class="row exp-card">
                        <div class="col-md-12 details">
                            <span>• Manage a team with 6 members</span><br/>
                            <span>• Develop and maintain software applications using Angular, C#, SQL, AWS (Serverless, Lambda, Secrets Manager)</span><br/>
                            <span>• Collaborate with our Development Team to create fresh functionalities or products on a section of our platform.</span><br/>
                            <span>• Conduct code reviews and ensure compliance with best practices.</span><br/>
                        </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card p-2 mb-1">
                <div>
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row">
                            <div class="icon">
                                <!-- <i class="fas fa-question-circle font-size-50"></i> -->
                                <img src="assets/img/sscgi.png" alt="Avatar">
                            </div>
                            <div class="ms-2">
                                <h5 class="mb-0 fw-bold">Systems and Software Consulting Group, INC</h5>
                                <h6 class="mb-0">3 years 2 months</h6>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row work-body">
                        <div class="row exp-card">
                            <div class="bullet">
                                <span><i class="fas fa-circle bullet"></i></span>
                            </div>
                            <div class="detail">
                                <h6 class="heading fw-bold mb-0">Programmer II</h6>
                                <span class="mb-0 dates">April 2020 - April 2021 | 1 year</span>
                            </div>
                        </div>
                        <div class="row">
                        <div class="bullet">
                            <span><i class="fas fa-circle bullet"></i></span>
                        </div>
                        <div class="detail exp-card">
                            <h6 class="fw-bold mb-0">Programmer I</h6>
                            <span class="mb-0 dates">March 2018 - April 2020 | 2 years 2 months </span>
                        </div>
                       </div>
                       <div class="row exp-card">
                        <div class="col-md-12 details">
                            <span>• Maintains and modify existing programs.</span><br/>
                            <span>• Develop detailed programming logic, and coding changes.</span><br/>
                            <span>• Created web application from scratch using ASP.NET MVC C#, Angular, Android Xamarin, and JavaScript.</span><br/>
                        </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>