h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    margin-top: 3rem;
  }

  .btn-download {
    color: #2b482d;
    background-color: #cbeece;
    width: 7rem;
    font-size: 1rem;
}



::ng-deep .textLayer {
  border: 2px solid #000;
}
