h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
  }

  .border {
    border-style: solid;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

.repair {
    font-size: 400px;
    margin: 10px;
}