<div [ngClass]="(isCertClick === true)?'padding-top-100':'padding-top-30'">
    <h3 class="fw-bold">Connect with me</h3>    
    <div class="row">
        <div class="col-md-4">
            <h5 class="email"><a href="mailto:tania.dev.ph@gmail.com">tania.dev.ph@gmail.com</a></h5>
            <h5 class="email">+639353198827</h5>
        </div>
        <div class="col-md-8">
            <h3 class="contactme">
                <a class="socials" href="{{contact.Github}}" target="_blank"> <i class="fab fa-github" ></i></a>
                <a class="socials" href="{{contact.Linkedin}}" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a class="socials" href="{{contact.Email}}" target="_blank"><i class="fas fa-envelope"></i></a>
                <a class="socials" href="{{contact.Instagram}}" target="_blank"><i class="fab fa-instagram"></i></a>
              </h3>
        </div>
    </div>
</div>