<div class="row home" (focus)="onFocus()">
    <div class="col-md-6 col-sm-6">
      <div class="slide-left" >
        <h1 class="fw-bold i-am">Hi, I am Christian Tania</h1>
      </div>
      <div class="slide-top">
        <p class="fs-2 fw-bold role-title">Full Stack Web App Developer</p>
      </div>
      <div class="flex mb-10">
        <div>
            <button type="button" class="btn btn-about fw-bold me-2" (click)="gotoPage(6)">Certificate</button>
            <button type="button" class="btn btn-about fw-bold" (click)="gotoPage(7)">Skill Stacks</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 img-container">
      <img src="assets/programmer_v1.jpg" alt="Avatar">
    </div>
  </div>