<div [ngClass]="(isSkillsClick === true)?'padding-top-100':'padding-top-30'">
    <h2 class="fw-bold">Skill Stacks</h2>    
    <div class="row skill-row">
        <!-- <ng-container *ngFor="let item of skillList">
            <div class="logo-box" data-tooltip="{{sample}}">
                <img src="assets/logo/csharp.svg" alt="Avatar">
            </div>
        </ng-container> -->
        <div class="logo-box" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
            <img src="assets/logo/csharp.svg" alt="Avatar">
        </div>
        <div class="logo-box" data-tooltip="JavaScript">
            <img src="assets/logo/js.svg" alt="Avatar">
        </div>
        <div class="logo-box" data-tooltip="Python">
            <img src="assets/logo/python.svg" alt="Avatar">
        </div>
        <div class="logo-box" data-tooltip="AWS">
            <img src="assets/logo/aws.svg" alt="Avatar">
        </div>
        <div class="logo-box" data-tooltip="NodeJS">
            <img src="assets/logo/nodejs.svg" alt="Avatar">
        </div>
        <div class="logo-box" data-tooltip="AWS Lambda">
            <img src="assets/logo/lambda.svg" alt="Avatar">
        </div>
        <div class="logo-box" data-tooltip="Angular">
            <img src="assets/logo/angular.svg" alt="Avatar">
        </div>
        <div class="logo-box" data-tooltip="AWS Serverless">
            <img src="assets/logo/serverless.svg" alt="Avatar">
        </div>
        <div class="logo-box" data-tooltip="Microsoft SQL">
            <img src="assets/logo/sql.svg" alt="Avatar">
        </div>
        <div class="logo-box" data-tooltip="REST API">
            <img src="assets/logo/api.svg" alt="Avatar">
        </div>
        <div class="logo-box" data-tooltip="Azure DevOps">
            <img src="assets/logo/azure.svg" alt="Avatar">
        </div>
        <div class="logo-box" data-tooltip="Bootstrap">
            <img src="assets/logo/bootstrap.svg" alt="Avatar">
        </div>
    </div>
</div>