h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
  }
  
img {
  width: 100px;
  height: 150px;
}

.logo-box {
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0,.25);
  margin: 10px;
  text-align: center;
  width: 150px;
  height: 150px;
}

.font-size-50 {
    font-size: 50px;
}

.skill-row {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1500px) {
  img {
    width: 100px;
    height: 150px;
  }

  .logo-box {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 920px) {
  img {
    width: 50px;
    height: 100px;
  }

  .logo-box {
    width: 100px;
    height: 100px;
  }

}