<div class="row home" (focus)="onFocus()">
    <h2 class="fw-bold">About Me</h2>
    <div class="col-md-4 col-sm-4 img-container">
        <img src="assets/programmer.webp" alt="Avatar">
      </div> 
    <div class="col-md-8 col-sm-8">
     <span>My name is Christian Tania. I am a full stack developer based in Manila, Philippines.</span> <br/>
     <span>I am an IT professional from the Philippines, holding a Bachelor of Science degree in Information Technology, and I have gained five years of experience as a Full Stack Developer, proficient in working with C#, NodeJS, Angular, AWS, REST API, MSSQL, and GIT/TFS</span>
    </div>
    
  </div>