<div [ngClass]="(isAboutClick === true)?'padding-top-100':'about'">
  <div class="row">
    <h2 class="fw-bold">About Me</h2>
    <div class="col-md-4 col-sm-4 img-container">
        <img src="assets/me.svg" alt="Avatar">
      </div> 
    <div class="col-md-8 col-sm-8 aboutme">
     <span>My name is Christian Tania. Holding a Bachelor of Science degree in Information Technology.</span> <br/>
     <span>I am a full stack developer based here in Manila, Philippines, and I have gained five years of experience as a Full Stack Developer, have been working with C#, NodeJS, Angular, AWS, REST API, MSSQL, and GIT/TFS</span>
    </div>
  </div>
</div>
