
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
  }

  .padding-top-100{
    padding-top: 100px;
}

img {
  width: 40px;
  height: 40px;
}

.a-cert {
    color: #2b482d;
}

.button-cert {
    background-color: #cbeece;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 180px;
}

.font-size-50 {
    font-size: 50px;
}