<div class="container" >
    <div class="nav-bar">
        <header (clickHeader)="goToPage($event)"></header>
    </div>
    <div #divhome>
        <home (clickHeader)="goToPage($event)"></home>
    </div>
    <div #divexperience>
        <experience [isExpClick]="isExpClick"></experience>
    </div>
    <div #divcert>
        <certification [isCertClick]="isCertClick"></certification>
    </div>
    <div #divabout>
        <about [isAboutClick]="isAboutClick"></about>
    </div>
    <div #divskills>
        <skills [isSkillsClick]="isSkillsClick"></skills>
    </div>
    <project></project>
</div>