<div class="container" >
    <div class="nav-bar">
        <header></header>
    </div>
    <div #divhome>
        <home></home>
    </div>
    <div #divexperience>
        <experience></experience>
    </div>
    <div #divfreelance>
        <freelance></freelance>
    </div>
    <div #divtodo>
        <todo></todo>
    </div>
    <div #divcert>
        <certification></certification>
    </div>
    <div #divabout>
        <about></about>
    </div>
    <div #divskills>
        <skills></skills>
    </div>
    <hr>
    <contact></contact>
    <hr>
    <footer ></footer>
</div>