/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.main-text-color {
    color: #2b482d;
}

html, body { 
    scroll-behavior: smooth
  }

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-100{
    padding-top: 100px;
}

.dev {
    border-color: #cbeece;
    background-color: #cbeece;
    border-radius: 10px;
  }